{{define "subject"}}Welcome to Greenlight{{end}}

{{define "plainBody"}}
Hi,

Thanks for signing up for an account. We love you

For reference, your account is is {{.ID}}

Thanks,
{{end}}

{{define "htmlBody"}}
<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
  <p>Hi,</p>
  <p>Thanks for signing up for an account. We love you</p>
  <p>For reference, your account is is {{.ID}}</p>
  <p>Thanks,</p>
</body>
</html>
{{end}}
